#header {
     background: #085492;
     width: 100%;
     height: 55px;
}
 
 
#sidebar {
     background: #99340c;
     float: left;
     width: 20%;
     height: 280px;
}

#content {
     background: #1f7018;
     float: right;
     width: 80%;
     height: 280px;
}
#tablinks1 {
     background: #fafafa;
     width: 150px;
     height: 30px;
}